body {
  margin-top: 50px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  font-size: 16px;
}

h1 {
  font-size: 20px;
  margin-top: 0;
}

.container {
  width: 600px;
  padding: 20px;
}

ul#todoList {
  list-style-type: none;
  padding-left: 25px;
  padding-bottom: 0px;
  border-bottom: 1px solid #efefef;
  border-top: 1px solid #efefef;
}

ul#todoList li {
  margin: 0;
  padding: 6px 0;
  border-top: 1px solid #efefef;
  position: relative;
  min-height: 22px;
}

ul#todoList li.checked {
  text-decoration: line-through;
  color: #999;
}

ul#todoList li:hover {
  background-color: #f7f7ff;
}

ul#todoList li:first-child {
  border-top: none;
}

/* TODO: Swap out the checkbox with a custom icon */
.todoCheck {
  position: absolute;
  margin-left: -25px;
  top: 5px;
  left: 0;
  width: 18px;
  height: 18px;
}

.todoEdit {
  position: absolute;
  top: 3px;
  left: -4px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.editTodo {
  position: absolute;
  display: inline-block;
  right: 25px;
  top: 7px;
  width: 20px;
  height: 20px;
}
.editTodo:hover {
  cursor: pointer;
}

.editTodo:after {
  content: "\270E";
  font-size: 20px;
  color: #333;
  line-height: 18px;
  text-align: center;
  font-weight: 100;
}

.deleteTodo {
  position: absolute;
  display: inline-block;
  right: 0;
  top: 5px;
  width: 20px;
  height: 20px;
}
.deleteTodo:hover {
  cursor: pointer;
}

.deleteTodo:after {
  content: "\1F5D1";
  font-size: 15px;
  color: #efefef;
  line-height: 18px;
  text-align: center;
  font-weight: 100;
}

#newTodoValue {
  padding: 8px 10px;
  font-size: 16px;
  border: none;
  background-color: #efefef;
  border-radius: 5px;
  width: 50%;
}

#addTodo {
  float: right;
  padding: 8px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ef493e;
  background-color: #ef493e;
  color: #fff;
}
